<h4>Criação de chamado</h4>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        Chamado será criado com status "aberto".
    </li>
</ol>
<div [formGroup]="formChamado">
    <div class="row">
        <div class="col-sm-12">
            <label>Titulo do chamado</label><br>
            <input class="form-control" formControlName="titulo" type="text-area"/>
        </div>
        <div class="col-sm-12">
            <label>Descrição do chamado</label><br>
            <textarea class="form-control" maxlength="{{maxDescription}}" class="form-control" formControlName="descricao"></textarea>
            <div class="text-right">restam {{charsLeft()}} caracteres</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-right">
            <button class="btn btn-primary" style="margin-top: 10px;" (click)="criar()" [disabled]="formChamado.invalid">Criar</button>
        </div>
    </div>
</div>